<template>
  <AuthenticationWall
    :options="options"
    @user="handle_user($event)">

    <h1>My app</h1>
    <router-view />

  </AuthenticationWall>
</template>

<script>
import AuthenticationWall from '@/AuthenticationWall.vue'
export default {
  name: 'App',
  components: {
    AuthenticationWall
  },
  data: () => ({
    options: {
      title: 'My application',
      hint: 'This is a hint',
      login_url: 'https://api.users.maximemoreillon.com/v2/auth/login',
      identification_url: 'https://api.users.maximemoreillon.com/v2/users/self',
      header_logo: false
    }
  }),
  methods: {
    handle_user(user) {
      console.log(user)
    }
  }

}
</script>
